* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-cyan: 193, 38%, 86%;
  --neon-green: 150, 100%, 66%;
  --grayish-blue: 217, 19%, 38%;
  --dark-grayish-blue: 217, 19%, 24%;
  --dark-blue: 218, 23%, 16%;
}

html,body {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 1.75rem;
  font-family: 'Manrope', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: hsl(var(--dark-blue));
}

h1 {
  width: 100%;
  text-align: center;
  color: hsl(var(--neon-green));
}