* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-cyan: 193, 38%, 86%;
  --neon-green: 150, 100%, 66%;
  --grayish-blue: 217, 19%, 38%;
  --dark-grayish-blue: 217, 19%, 24%;
  --dark-blue: 218, 23%, 16%;
}

html,body {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 1.75rem;
  font-family: 'Manrope', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: hsl(var(--dark-blue));
}

h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: .875rem;
  width: 100%;
  text-align: center;
  color: hsl(var(--neon-green));
}

p {
  color: hsl(var(--light-cyan));
  font-size: 1.5rem;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  max-width: 34rem;
  text-align: center;
  background-color: hsl(var(--dark-grayish-blue));
  border-radius: .5em;
  padding: 2.5rem .75rem;
  margin: 1rem;
}

.bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  color: hsl(var(--light-cyan));
  padding-bottom: 1.5rem;
}

.line {
  border-bottom: 1px solid hsl(var(--grayish-blue));
  width: 100%;
}

.quotes {
  display: flex;
  gap: .5rem;
}

.quote {
  width: 6px;
  height: 14px;
  border-radius: 1rem;
  background-color: hsl(var(--light-cyan));
}

.dice {
  position: absolute;
  bottom: -32px;
  background-color: hsl(var(--neon-green));
  border-radius: 100%;
  height: 64px;
  width: 64px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform .5s ease-in-out;
}

.animateDice {
  animation: rotateDice 1s 1;
}


.dice:hover {
  box-shadow: 0px 0px 40px hsla(var(--neon-green), .85);
  
}

@media (min-width: 768px) {
  p {
    font-size: 1.75rem;
  }

  .wrapper {
    padding: 2.5rem 3rem;
  }
}

@keyframes rotateDice {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}